/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2015, 6:34:56 PM
    Author     : dell
*/

.root{
    display: block;
    -fx-background-image: url("blue.jpg");
}
.pane{
    -fx-background-image: url("images.jpg");
    -fx-background-size: cover;
   
}
